*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #ededed;
}
.photouser {
    margin-left: 15px;
    width: 25px;
    height: 25px;
}
.close{
	width: 20px;
    height: 20px;
}
.superior{
	margin-top: 20px;
}
.notItemOne option:first-child{
	display: none;
}
/*****************************************************************/

.btn-center{
	text-align: center;
	margin-bottom: 50px;
}
